version: '3.1'



services:

  wordpress:

    image: wordpress:latest

    restart: always

    ports:

      - 8000:80

    environment:

      WORDPRESS_DB_HOST: db

      WORDPRESS_DB_USER: wordpress

      WORDPRESS_DB_PASSWORD: wordpress_password

      WORDPRESS_DB_NAME: wordpress

    volumes:

      - wordpress:/var/www/html



  db:

    image: mysql:8.0

    restart: always

    command: '--default-authentication-plugin=mysql_native_password'

    environment:

      MYSQL_DATABASE: wordpress

      MYSQL_USER: wordpress

      MYSQL_PASSWORD: wordpress_password

      MYSQL_ROOT_PASSWORD: wordpress_root_password

    volumes:

      - db:/var/lib/mysql



volumes:

  wordpress:

  db:


